*{
  box-sizing:border-box;
  margin:0; 
  padding:0; 
}
body{
    background-color: #F6F8F9;
    font-family: 'Roboto'; 
}
header{
    background-color:#ffff ;
    padding: 10px 20px;
}
/* intestazione */
h1{
    display: inline-block;
    vertical-align: middle;
}
.logo{
    vertical-align: middle;
}
/* intestazione */

.container{
    background-color:#ffff ;
    max-width: 800px;
    margin: auto;
    padding-left: 50px; 
}
main{
    margin-top: 2%;
}
.button1{
    color: white;
    background-color: #45ABEA;
    border-color: white;
    border-radius: 15%;
    padding: 5px;
    margin: 10px;
}
.button2{
    color: lightgray;
    background-color:white;
    border-color: lightgray;
    border-radius: 15%;
    padding: 5px;
    margin: 10px;
}
hr{ 
    background-color:#ffff ;
    max-width: 800px;
    margin: auto;
    padding-left: 50px;
}
h2{
    vertical-align: middle;
}
.circle-check{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-width: 1px;
    border-radius: 50%;
    text-align: center;
}
p{
  display: inline-block;  
}


