*{
  box-sizing:border-box;
  margin:0; 
  padding:0; 
}
body{
    background-color: #F6F8F9;
    font-family: 'Roboto'; 
}
header{
    background-color:#ffff ;
    padding: 10px 20px;
    margin-bottom: 2%;
}
/* intestazione */
h1{
    display: inline-block;
    vertical-align: middle;
}
.logo{
    vertical-align: middle;
}
/* intestazione */

.container{
    background-color:#ffff ;
    max-width: 800px;
    margin: auto;
    padding: 10px 50px; 
}

.button1{
    color: white;
    background-color: #45ABEA;
    border-color: white;
    border-radius: 15%;
    padding: 5px;
    margin: 10px;
}
.button2{
    color: lightgray;
    background-color:white;
    border-color: lightgray;
    border-radius: 15%;
    padding: 5px;
    margin: 10px;
}
hr{ 
    background-color:lightgray ;
    max-width: 800px;
    padding-left: 50px;
}
h2{
    vertical-align: middle;
}

.circle-check{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-top-color: green;
    border-radius: 50%;
    text-align: center;
    color: lightgreen;
    padding: 10px;
    
}
.circle-cross{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-width: 0px;
    border-radius: 50%;
    text-align: center;
    color: red;
    border-color: red;
    
}

span{
    display: inline-block;  
}

.tag{
    color: white;
    border: none;
    border-radius:30% ;
    display: inline-block;
    font-size:10px;
    padding: 3px 5px;
}
.blu{
    background-color: #45ABEA;
}
.viola{
    background-color: #9C72E4
}
.verde{
    background-color: #B0C926;
}
.rosa{
    background-color: #D863A1;
}
.arancione{
    background-color: #F29E33;
}
.verdescuro{
   background-color: #64C0A9; 
}